/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap'); */
:root{
    --pale-blue:hsla(225, 100%, 93%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img{
    max-width: 100%;
}
body{
    font-family: "",sans-serif;
    background-color:rgb(188, 202, 227)
}
/* Attribution */
.attribution { font-size: 11px;
    text-align: center;

}
.attribution a{
    color:hsl(228, 45%, 44%);

}